In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
uber = pd.read_csv('uber.csv', low_memory=False)
pd.set_option('display.float_format', '{:.2f}'.format) # --- > by usunac e+06 itd

In [3]:
uber.head(11)

,Column1,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
0,1,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
1,2,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
2,3,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
3,4,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
4,5,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
5,6,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
6,7,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
7,8,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
8,9,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,4.00,86.00
9,10,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,1.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,3.00,68.00
10,11,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,3.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,3.00,NaN

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716427 entries, 0 to 2716426
Data columns (total 32 columns):
 #   Column    Dtype
---  ------    -----
 0   Column1   int64
 1   CASEID    object
 2   DOF1      float64
 3   GAD1      object
 4   PSU       int64
 5   YEAR      int64
 6   STRATIF   object
 7   BODYTYPE  float64
 8   DVEST     float64
 9   DVBASIS   float64
 10  DVTOTAL   float64
 11  MAKE      float64
 12  MODELYR   float64
 13  AGE       float64
 14  BAGAVAIL  float64
 15  BAGDEPLY  float64
 16  BAGFAIL   float64
 17  CASENO    float64
 18  CHTYPE    float64
 19  DEATH     float64
 20  HEIGHT    float64
 21  HOSPSTAY  float64
 22  INJSEV    float64
 23  MANAVAIL  float64
 24  MANFAIL   float64
 25  MANUSE    float64
 26  OCCNO     float64
 27  ROLE      float64
 28  SEATPOS   float64
 29  SEX       float64
 30  TREATMNT  float64
 31  WEIGHT    float64
dtypes: float64(26), int64(3), object(3)
memory usage: 663.2+ MB

In [5]:
uber.describe()

,Column1,DOF1,PSU,YEAR,BODYTYPE,DVEST,DVBASIS,DVTOTAL,MAKE,MODELYR,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
count,2716427.00,2417075.00,2716427.00,2716427.00,2713908.00,2222022.00,2626443.00,1625151.00,2705768.00,2703350.00,...,2666603.00,2305406.00,2035758.00,2220682.00,2716262.00,2716227.00,2526365.00,2684392.00,2384477.00,2061517.00
mean,1358214.00,12.49,46.40,2007.01,12.24,1.65,4.71,24.45,26.86,1999.71,...,1.41,3.87,0.79,3.58,1.59,1.36,13.52,1.49,2.36,72.57
std,784165.07,17.22,27.33,2.83,12.59,2.95,12.15,13.54,17.53,6.09,...,1.33,0.64,0.43,2.59,1.06,0.48,6.53,0.57,2.09,23.95
min,1.00,0.00,2.00,2004.00,1.00,0.00,0.00,0.00,1.00,1923.00,...,0.00,0.00,0.00,0.00,1.00,1.00,11.00,1.00,0.00,3.00
25%,679107.50,6.00,12.00,2005.00,4.00,0.00,1.00,15.00,12.00,1996.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,59.00
50%,1358214.00,11.00,48.00,2006.00,4.00,0.00,1.00,21.00,20.00,2000.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,3.00,73.00
75%,2037320.50,12.00,74.00,2009.00,15.00,0.00,4.00,30.00,37.00,2004.00,...,3.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,4.00,86.00
max,2716427.00,92.00,82.00,2015.00,97.00,8.00,98.00,166.00,98.00,2016.00,...,6.00,8.00,8.00,18.00,19.00,2.00,98.00,6.00,8.00,150.00

In [7]:
uber.sample()

,Column1,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
429849,429850,192F,3.00,R,75,2004,F,30.00,6.00,7.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,2.00,4.00,64.00

In [8]:
occupants = uber[["CASEID", 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO','ROLE', 'SEATPOS', 'SEX', 'WEIGHT', 'HOSPSTAY','TREATMNT']]

In [9]:
occupants.drop_duplicates(subset=['CASEID', 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT','HOSPSTAY','TREATMNT' ],inplace=True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_7280\3565460554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants.drop_duplicates(subset=['CASEID', 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',

In [10]:
occupants.head()

,CASEID,PSU,YEAR,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,HOSPSTAY,TREATMNT
0,1H,2,2004,20.00,1.00,0.00,178.00,0.00,4.00,1.00,1.00,11.00,1.00,73.00,0.00,0.00
1,2K,2,2004,69.00,1.00,0.00,178.00,1.00,4.00,1.00,1.00,11.00,1.00,86.00,0.00,4.00
2,2K,2,2004,69.00,1.00,0.00,168.00,1.00,4.00,2.00,2.00,13.00,2.00,68.00,7.00,3.00
3,2K,2,2004,18.00,1.00,0.00,NaN,3.00,4.00,1.00,1.00,11.00,1.00,NaN,2.00,3.00
4,2K,2,2004,34.00,1.00,0.00,NaN,3.00,4.00,2.00,2.00,13.00,1.00,NaN,2.00,3.00

In [11]:
occupants.duplicated().sum()

0

In [12]:
occupants.shape

(110758, 16)

In [6]:
vehicles= uber[['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR']]

In [7]:
vehicles.shape

(2716427, 7)

In [8]:
vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_492\1110924876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

In [9]:
vehicles.shape

(94598, 7)

In [10]:
accidents = uber[['CASEID', 'PSU','YEAR', 'STRATIF']]

In [11]:
accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_492\2693818806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)