In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
uber = pd.read_csv('uber.csv', low_memory=False)
pd.set_option('display.float_format', '{:.2f}'.format) # --- > by usunac e+06 itd

In [3]:
uber.head(11)

,Column1,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
0,1,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
1,2,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
2,3,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
3,4,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
4,5,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
5,6,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
6,7,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
7,8,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
8,9,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,4.00,86.00
9,10,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,1.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,3.00,68.00
10,11,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,3.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,3.00,NaN

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716427 entries, 0 to 2716426
Data columns (total 32 columns):
 #   Column    Dtype
---  ------    -----
 0   Column1   int64
 1   CASEID    object
 2   DOF1      float64
 3   GAD1      object
 4   PSU       int64
 5   YEAR      int64
 6   STRATIF   object
 7   BODYTYPE  float64
 8   DVEST     float64
 9   DVBASIS   float64
 10  DVTOTAL   float64
 11  MAKE      float64
 12  MODELYR   float64
 13  AGE       float64
 14  BAGAVAIL  float64
 15  BAGDEPLY  float64
 16  BAGFAIL   float64
 17  CASENO    float64
 18  CHTYPE    float64
 19  DEATH     float64
 20  HEIGHT    float64
 21  HOSPSTAY  float64
 22  INJSEV    float64
 23  MANAVAIL  float64
 24  MANFAIL   float64
 25  MANUSE    float64
 26  OCCNO     float64
 27  ROLE      float64
 28  SEATPOS   float64
 29  SEX       float64
 30  TREATMNT  float64
 31  WEIGHT    float64
dtypes: float64(26), int64(3), object(3)
memory usage: 663.2+ MB

In [5]:
uber.describe()

,Column1,DOF1,PSU,YEAR,BODYTYPE,DVEST,DVBASIS,DVTOTAL,MAKE,MODELYR,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
count,2716427.00,2417075.00,2716427.00,2716427.00,2713908.00,2222022.00,2626443.00,1625151.00,2705768.00,2703350.00,...,2666603.00,2305406.00,2035758.00,2220682.00,2716262.00,2716227.00,2526365.00,2684392.00,2384477.00,2061517.00
mean,1358214.00,12.49,46.40,2007.01,12.24,1.65,4.71,24.45,26.86,1999.71,...,1.41,3.87,0.79,3.58,1.59,1.36,13.52,1.49,2.36,72.57
std,784165.07,17.22,27.33,2.83,12.59,2.95,12.15,13.54,17.53,6.09,...,1.33,0.64,0.43,2.59,1.06,0.48,6.53,0.57,2.09,23.95
min,1.00,0.00,2.00,2004.00,1.00,0.00,0.00,0.00,1.00,1923.00,...,0.00,0.00,0.00,0.00,1.00,1.00,11.00,1.00,0.00,3.00
25%,679107.50,6.00,12.00,2005.00,4.00,0.00,1.00,15.00,12.00,1996.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,59.00
50%,1358214.00,11.00,48.00,2006.00,4.00,0.00,1.00,21.00,20.00,2000.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,3.00,73.00
75%,2037320.50,12.00,74.00,2009.00,15.00,0.00,4.00,30.00,37.00,2004.00,...,3.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,4.00,86.00
max,2716427.00,92.00,82.00,2015.00,97.00,8.00,98.00,166.00,98.00,2016.00,...,6.00,8.00,8.00,18.00,19.00,2.00,98.00,6.00,8.00,150.00

In [6]:
uber.sample()

,Column1,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
982640,982641,47J,1.00,F,81,2005,J,30.00,0.00,1.00,...,3.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,4.00,NaN

In [56]:
occupants = uber[["CASEID", 'PSU','YEAR','AGE', 'BAGAVAIL','BAGFAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO','ROLE', 'SEATPOS', 'SEX', 'WEIGHT', 'HOSPSTAY','TREATMNT','STRATIF']]

In [57]:
occupants.drop_duplicates(subset=['CASEID', 'PSU','YEAR','AGE', 'BAGAVAIL','BAGFAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT','HOSPSTAY','TREATMNT','STRATIF' ],inplace=True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\4021689472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants.drop_duplicates(subset=['CASEID', 'PSU','YEAR','AGE', 'BAGAVAIL','BAGFAIL','CHTYPE', 'HEIGHT', 'INJSEV',

In [58]:
occupants.head()

,CASEID,PSU,YEAR,AGE,BAGAVAIL,BAGFAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,HOSPSTAY,TREATMNT,STRATIF
0,1H,2,2004,20.00,1.00,1.00,0.00,178.00,0.00,4.00,1.00,1.00,11.00,1.00,73.00,0.00,0.00,H
1,2K,2,2004,69.00,1.00,1.00,0.00,178.00,1.00,4.00,1.00,1.00,11.00,1.00,86.00,0.00,4.00,K
2,2K,2,2004,69.00,1.00,1.00,0.00,168.00,1.00,4.00,2.00,2.00,13.00,2.00,68.00,7.00,3.00,K
3,2K,2,2004,18.00,1.00,1.00,0.00,NaN,3.00,4.00,1.00,1.00,11.00,1.00,NaN,2.00,3.00,K
4,2K,2,2004,34.00,1.00,1.00,0.00,NaN,3.00,4.00,2.00,2.00,13.00,1.00,NaN,2.00,3.00,K

In [59]:
occupants.duplicated().sum()

0

In [60]:
occupants.shape

(110759, 18)

In [12]:
occupants.to_csv("./occupants.csv", index = False)

In [12]:
vehicles= uber[['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR']]

In [13]:
vehicles.shape

(2716427, 7)

In [14]:
vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\1110924876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

In [15]:
vehicles.shape

(94598, 7)

In [16]:
accidents = uber[['CASEID', 'PSU','YEAR', 'STRATIF']]

In [17]:
accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\2693818806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)

### Export plików do csv - bez kategoryzacji

In [21]:
occupants.to_csv("./occupants.csv", index = False)
accidents.to_csv("./accidents.csv", index = False)
vehicles.to_csv("./vehicles.csv", index = False)

### Kategoryzacje

In [61]:
import math
x = float('nan')
math.isnan(x)

True

#### MANUSE 
- 1 :  niezapięte (1) , 
- 2 :  zapięte (2-18)

In [62]:
#nowa kolumna kategoria dla manuse: 1 -niezapięte, 2 zapięte
MANUSE_new=[]

for i in occupants['MANUSE']:
    if i>=0 and i<=1:
        MANUSE_new.append(1)
    elif i>=2 and i<=18:
        MANUSE_new.append(2)
    elif math.isnan(i):
        MANUSE_new.append(None)

In [63]:
occupants['MANUSE'] = MANUSE_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\3623112559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['MANUSE'] = MANUSE_new

In [64]:
occupants['MANUSE'].value_counts()

2.00    59838
1.00    16332
Name: MANUSE, dtype: int64

#### INJSEV 
- 0: brak obrażen
- 1: odniesione lekkie obrażenia (1,2)
- 2: odniesione poważne obrażenia (3)
- 4: śmierć (4,6)

In [65]:
occupants['INJSEV'].value_counts()

0.00    40282
3.00    22707
1.00    22706
2.00    16488
4.00     4285
5.00     1969
6.00        8
Name: INJSEV, dtype: int64

In [66]:
INJSEV_new=[]
for i in occupants['INJSEV']:
    if i==0:
        INJSEV_new.append(0)
    if i==1:
        INJSEV_new.append(1)
    if i==2:
        INJSEV_new.append(1)
    if i==3:
        INJSEV_new.append(2)
    if i==4:
        INJSEV_new.append(4)
    if i==5:
        INJSEV_new.append(None)
    if i==6:
        INJSEV_new.append(4)
    elif math.isnan(i):
        INJSEV_new.append(None)
# 0: brak obrażen
# 1: odniesione lekkie obrażenia (1,2)
# 2: odniesione poważne obrażenia (3)
# 4: śmierć (4,6)

In [67]:
occupants['INJSEV'] = INJSEV_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\638915056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['INJSEV'] = INJSEV_new

In [68]:
occupants['INJSEV'].value_counts()

0.00    40282
1.00    39194
2.00    22707
4.00     4293
Name: INJSEV, dtype: int64

#### SEATPOS 
- 1 :  1-19  /front
- 2 :  21   /second left
- 3 :  23   /second right
- 4 :  22, 24-29   /second middle
- 5 :  31-59 /third
- 6 :  97-98   /other

In [69]:
SEATPOS_new=[]
for i in occupants['SEATPOS']:
    if i>=1 and i<=19: #front
        SEATPOS_new.append(1)
    elif i==21:    #second left
        SEATPOS_new.append(2)
    elif i==22:    
        SEATPOS_new.append(4)
    elif i==23:     #second right
        SEATPOS_new.append(3)
    elif i>=24 and i<=29:
        SEATPOS_new.append(4)
    elif i>=31 and i<=59:
        SEATPOS_new.append(5)
    elif i>=97 and i<99:
        SEATPOS_new.append(6)
    elif math.isnan(i):
        SEATPOS_new.append(None)

In [70]:
occupants['SEATPOS'] = SEATPOS_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\2759966521.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['SEATPOS'] = SEATPOS_new

In [71]:
occupants['SEATPOS'].value_counts()

1.00    84414
3.00     6062
2.00     4888
4.00     2103
5.00      905
6.00      240
Name: SEATPOS, dtype: int64

### STRATIF
- 1 - ( A i B) wypadki, w których co najmniej jeden pasażer miał uraz śmiertelny
- 2 - (J i K) wypadki, w których co najmniej jeden pasażer miał obrażenia “A” (obrażenia unieruchamiające), przewieziony został do placówki leczniczej i przyjęta na noc do szpitala
- 3 - (C i D ) wypadki, w których co najmniej jeden pasażer obrażenia "A" (obrażenia unieruchamiające) oraz został przewieziony do placówki leczniczej, bez przyjęcia na noc do szpitala
- 4 - (E i F) wypadki, wktórych co najmniej jedna osoba zostałą przewieziona do placówki leczniczej
- 5 - (G i H) niewielkie obrażenia

In [72]:
occupants['STRATIF'].value_counts()

F    22011
K    17234
H    15495
E    14313
G    11435
D    10107
B     7376
C     6986
J     4237
A     1562
Name: STRATIF, dtype: int64

In [73]:
STRATIF_new=[]
for i in occupants['STRATIF']:
    if i=="A" or i=="B":
        STRATIF_new.append(1)
    elif i=="J" or i=="K":
        STRATIF_new.append(2)
    elif i=="C" or i=="D":
        STRATIF_new.append(3)
    elif i=="E" or i=="F":
        STRATIF_new.append(4)
    elif i=="G" or i=="H":
        STRATIF_new.append(5)   
    elif math.isnan(i):
        STRATIF_new.append(None)

In [74]:
occupants['STRATIF'] = STRATIF_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\3226906458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['STRATIF'] = STRATIF_new

In [75]:
occupants['STRATIF'].value_counts()

4.00    36324
5.00    26930
2.00    21471
3.00    17093
1.00     8938
Name: STRATIF, dtype: int64

#### AGE
- 1: 1-17
- 2: 18-25
- 3: 26-30
- 4: 31-50
- 5: 51-70
- 6: >=70

In [76]:
AGE_NEW=[]
for i in occupants['AGE']:
    if i>=0 and i<=17:
        AGE_NEW.append('1')
    elif i>=18 and i<=25:
        AGE_NEW.append('2')
    elif i>=26 and i<=30:
        AGE_NEW.append('3')
    elif i>=31 and i<=50:
        AGE_NEW.append('4')
    elif i>=51 and i<=70:
        AGE_NEW.append('5')
    elif i>=71:
        AGE_NEW.append('6')
    elif math.isnan(i):
        AGE_NEW.append(None)

In [77]:
occupants['AGE']=AGE_NEW

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\2764060329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['AGE']=AGE_NEW

In [78]:
occupants['AGE'].value_counts()

4    29779
2    28220
1    16691
5    16280
3    11435
6     5423
Name: AGE, dtype: int64

#### HEIGHT
- 1 : 0-80 niemowlęta, 
- 2 : 81-130, 
- 3 : 130- 165, 
- 4 : 165-180, 
- 5 : 181-199, 
- 6 : 200-219,
- 7 : 220

In [79]:
#HEIGHT – 

HEIGHT_new=[]
for i in occupants['HEIGHT']:
    if i>=0 and i<=80:
        HEIGHT_new.append(1)
    elif i>=81 and i<=130:
        HEIGHT_new.append(2)
    elif i>=131 and i<=165:
        HEIGHT_new.append(3)
    elif i>=166 and i<=180:
        HEIGHT_new.append(4)
    elif i>=181 and i<=199:
        HEIGHT_new.append(5)
    elif i>=200 and i<=219:
        HEIGHT_new.append(6)
    elif i>=220:
        HEIGHT_new.append(7)
    elif math.isnan(i):
        HEIGHT_new.append(None)

In [80]:
occupants['HEIGHT'] = HEIGHT_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\748303531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['HEIGHT'] = HEIGHT_new

In [81]:
occupants['HEIGHT'].value_counts()

4.00    32356
3.00    23739
5.00    11063
2.00     2577
1.00     1104
6.00      106
Name: HEIGHT, dtype: int64

#### HOSPSTAY
- 1 : 0-7
- 2 : 8-14
- 3 : 15-28
- 4 : 29-60
- 5 : >= 61

In [82]:
occupants['HOSPSTAY'].value_counts()

0.00     69773
1.00      3670
2.00      1868
3.00      1466
4.00      1149
         ...
46.00        4
43.00        3
57.00        2
53.00        2
59.00        2
Name: HOSPSTAY, Length: 61, dtype: int64

In [83]:
#HOPSTAY 0-7, 8-14, 15-28, 29-60, 61

HOSPSTAY_new=[]
for i in occupants['HOSPSTAY']:
    if i>=0 and i<=7:
        HOSPSTAY_new.append(1)
    elif i>=8 and i<=14:
        HOSPSTAY_new.append(2)
    elif i>=15 and i<=28:
        HOSPSTAY_new.append(3)
    elif i>=29 and i<=60:
        HOSPSTAY_new.append(4)
    elif i>=61:
        HOSPSTAY_new.append(5)
    elif math.isnan(i):
        HOSPSTAY_new.append(None)

In [84]:
occupants['HOSPSTAY'] = HOSPSTAY_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\2366499334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['HOSPSTAY'] = HOSPSTAY_new

In [85]:
occupants['HOSPSTAY'].value_counts()

1.00    80023
2.00     1785
3.00      955
4.00      367
5.00       43
Name: HOSPSTAY, dtype: int64

#### SEX 
- 0 :  (1) MEŻCZYŹNI
- 1 :  (2) KOBIETY
- 2 : (3,4,5,6) KOBIETY W CIĄŻY

In [86]:
occupants['SEX'].value_counts()

1.00    59510
2.00    48754
4.00      286
5.00      276
3.00      213
6.00       51
Name: SEX, dtype: int64

In [87]:
#SEX ok, tylko wszystkie ciężarne wrzucić do jednej liczby – potem pokazać jakie miejsca są dla nich najbezpieczniejsze
# 0- mężczyźni, 1 - kobiety, 2 - kobiety w ciąży

SEX_new=[]

for i in occupants['SEX']:
    if i==1:
        SEX_new.append(0)
    elif i==2:
        SEX_new.append(1)
    elif i==3:
        SEX_new.append(2)
    elif i==4:
        SEX_new.append(2)
    elif i==5:
        SEX_new.append(2)
    elif i==6:
        SEX_new.append(2)
    elif math.isnan(i):
        SEX_new.append(None)

In [88]:
occupants['SEX'] = SEX_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\2239415670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['SEX'] = SEX_new

In [89]:
occupants['SEX'].value_counts()

0.00    59510
1.00    48754
2.00      826
Name: SEX, dtype: int64

#### WEIGHT
- 1 : 0-15
- 2 : 16-45
- 3 : 46-60
- 4 : 61-80
- 5 : 81-100
- 6 : 101-149
- 7 : >=150

In [90]:
occupants['WEIGHT'].value_counts()

68.00     4258
73.00     4074
82.00     3924
64.00     3657
91.00     3359
          ...
148.00       8
133.00       7
144.00       6
149.00       5
146.00       2
Name: WEIGHT, Length: 148, dtype: int64

In [91]:
WEIGHT_new=[]

for i in occupants['WEIGHT']:
    if i>=0 and i<=15:
        WEIGHT_new.append(1)
    elif i>=16 and i<=45:
        WEIGHT_new.append(2)
    elif i>=46 and i<=60:
        WEIGHT_new.append(3)
    elif i>=61 and i<=80:
        WEIGHT_new.append(4)
    elif i>=81 and i<=100:
        WEIGHT_new.append(5)
    elif i>=101 and i<=149:
        WEIGHT_new.append(6)
    elif i>=150:
        WEIGHT_new.append(7)
    elif math.isnan(i):
        WEIGHT_new.append(None)

In [92]:
occupants['WEIGHT'] = WEIGHT_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\707745857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['WEIGHT'] = WEIGHT_new

In [93]:
occupants['WEIGHT'].value_counts()

4.00    27988
5.00    18834
3.00    12264
6.00     6991
2.00     4586
1.00     1514
7.00      359
Name: WEIGHT, dtype: int64

#### BAGVAIL
- 0 : (0,2,3) NIE BYŁO PODUSZKI
- 1 : (1) BYŁA PODUSZKA

In [94]:
occupants['BAGAVAIL'].value_counts()

1.00    59125
0.00    20252
3.00      188
2.00      142
Name: BAGAVAIL, dtype: int64

In [95]:
#BAGAVAIL – zmiana na 0 -nie było poduszki, 1- była , reszta do przepisania na 0

BAGAVAIL_new=[]
for i in occupants['BAGAVAIL']:
    if i==0:
        BAGAVAIL_new.append(0)
    elif i==1:
        BAGAVAIL_new.append(1)
    elif i>=2 and i<=3:
        BAGAVAIL_new.append(0)
    elif math.isnan(i):
        BAGAVAIL_new.append(None)

In [96]:
occupants['BAGAVAIL'] = BAGAVAIL_new

C:\Users\ela\AppData\Local\Temp\ipykernel_3148\2704286954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['BAGAVAIL'] = BAGAVAIL_new

In [97]:
occupants['BAGAVAIL'].value_counts()

1.00    59125
0.00    20582
Name: BAGAVAIL, dtype: int64

#### Export do pliku csv

In [98]:
occupants.to_csv("./occupants_cat_z_bagfail.csv", index = False)

### Accidents

In [50]:
accidents.shape

(51978, 4)

In [51]:
accidents.columns

Index(['CASEID', 'PSU', 'YEAR', 'STRATIF'], dtype='object')

### STRATIF
- 1 - ( A i B) wypadki, w których co najmniej jeden pasażer miał uraz śmiertelny
- 2 - (J i K) wypadki, w których co najmniej jeden pasażer miał obrażenia “A” (obrażenia unieruchamiające), przewieziony został do placówki leczniczej i przyjęta na noc do szpitala
- 3 - (C i D ) wypadki, w których co najmniej jeden pasażer obrażenia "A" (obrażenia unieruchamiające) oraz został przewieziony do placówki leczniczej, bez przyjęcia na noc do szpitala
- 4 - (E i F) wypadki, wktórych co najmniej jedna osoba zostałą przewieziona do placówki leczniczej
- 5 - (G i H) niewielkie obrażenia

In [52]:
accidents['STRATIF'].value_counts()

F    10079
H     9746
K     7434
G     6161
E     6066
D     4174
B     3156
C     2690
J     1785
A      685
Name: STRATIF, dtype: int64

In [53]:
#stworzenie kategorii dla accidents - stratif
#1 - ( A i B) wypadki, w których co najmniej jeden pasażer miał uraz śmiertelny
#2 - (J i K) wypadki, w których co najmniej jeden pasażer miał obrażenia “A” (obrażenia unieruchamiające), przewieziony został do placówki leczniczej i przyjęta na noc do szpitala
#3 - (C i D ) wypadki, w których co najmniej jeden pasażer obrażenia "A" (obrażenia unieruchamiające) oraz został przewieziony do placówki leczniczej, bez przyjęcia na noc do szpitala
#4 - (E i F) wypadki, wktórych co najmniej jedna osoba zostałą przewieziona do placówki leczniczej
#5 - (G i H) niewielkie obrażenia

In [54]:
STRATIF_new=[]
for i in accidents['STRATIF']:
    if i=="A" or i=="B":
        STRATIF_new.append(1)
    elif i=="J" or i=="K":
        STRATIF_new.append(2)
    elif i=="C" or i=="D":
        STRATIF_new.append(3)
    elif i=="E" or i=="F":
        STRATIF_new.append(4)
    elif i=="G" or i=="H":
        STRATIF_new.append(5)   
    elif math.isnan(i):
        STRATIF_new.append(None)

In [55]:
accidents['STRATIF'] = STRATIF_new

C:\Users\ela\AppData\Local\Temp\ipykernel_4580\2472670058.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents['STRATIF'] = STRATIF_new

In [56]:
accidents['STRATIF'].value_counts()

4.00    16145
5.00    15907
2.00     9219
3.00     6864
1.00     3841
Name: STRATIF, dtype: int64

In [57]:
accidents.shape

(51978, 4)

In [65]:
accidents.to_csv("./accidents_cat.csv", index = False)

### VEHICLES

In [18]:
v=vehicles['BODYTYPE'].value_counts()

In [19]:
vehicles.groupby('BODYTYPE')['CASEID'].count()

BODYTYPE
1.00      1020
2.00      6804
3.00      2148
4.00     39927
5.00      2100
6.00      2301
7.00         8
8.00        30
9.00       656
10.00       14
11.00        4
12.00        8
14.00    13693
15.00     3492
16.00      551
17.00       41
19.00       90
20.00     4689
21.00     1419
22.00       56
23.00        7
24.00       22
25.00       27
28.00      102
29.00       35
30.00     4050
31.00     7348
32.00        3
33.00        7
39.00      184
40.00      124
41.00        2
42.00        1
45.00        1
48.00       16
50.00      134
58.00      236
59.00       36
60.00       27
61.00      221
62.00      136
63.00      352
64.00      190
65.00       18
67.00       92
68.00     1323
69.00       48
70.00       34
74.00       58
78.00      300
79.00       27
80.00      138
81.00        3
82.00        1
89.00        5
90.00        2
92.00       19
93.00       14
97.00       10
Name: CASEID, dtype: int64

#### BODYTYPE
- 1: osobowe (1-9,17)
- 2: większe osobowe (10-16, 19-22, 29-39),
- 3: busy ( 23-28, 50,58-60),
- 4: dostawcze (40-48),
- 5: ciężarówki (61-79),
- 6: motory (80-90), 
- 7: pozostałe (>=91)

In [20]:
BODYTYPE_new=[]
for i in vehicles['BODYTYPE']:
    if i>=1 and i<10:
        BODYTYPE_new.append(1)
    if i==17:
        BODYTYPE_new.append(1)
    if i>=10 and i<17:
        BODYTYPE_new.append(2)
    if i>=19 and i<23:
        BODYTYPE_new.append(2)
    if i>=29 and i<40:
        BODYTYPE_new.append(2)
    if i>=23 and i<29:
        BODYTYPE_new.append(3)
    if i==50 :
        BODYTYPE_new.append(3)
    if i>=58 and i<61:
        BODYTYPE_new.append(3)
    if i>=40 and i<49:
        BODYTYPE_new.append(4)
    if i>=61 and i<80:
        BODYTYPE_new.append(5)
    if i>=80 and i<91:
        BODYTYPE_new.append(6)
    elif i>=91:
        BODYTYPE_new.append(7)
    elif math.isnan(i):
        BODYTYPE_new.append(None)

In [21]:
vehicles['BODYTYPE'] = BODYTYPE_new

C:\Users\ela\AppData\Local\Temp\ipykernel_7548\1469288314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles['BODYTYPE'] = BODYTYPE_new

In [22]:
vehicles.groupby('BODYTYPE')['CASEID'].count()

BODYTYPE
1.00    55035
2.00    35643
3.00      591
4.00      144
5.00     2799
6.00      149
7.00       43
Name: CASEID, dtype: int64

In [23]:
vehicles.to_csv("./vehicles_cat.csv", index = False)