In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
uber = pd.read_csv('uber.csv', low_memory=False)
pd.set_option('display.float_format', '{:.2f}'.format) # --- > by usunac e+06 itd

In [60]:
uber.head(11)

,Column1,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
0,1,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
1,2,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
2,3,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
3,4,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
4,5,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
5,6,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
6,7,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
7,8,1H,NaN,F,2,2004,H,4.00,6.00,11.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,73.00
8,9,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,4.00,86.00
9,10,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,1.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,3.00,68.00
10,11,2K,11.00,F,2,2004,K,20.00,0.00,1.00,...,3.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,3.00,NaN

In [61]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2716427 entries, 0 to 2716426
Data columns (total 32 columns):
 #   Column    Dtype
---  ------    -----
 0   Column1   int64
 1   CASEID    object
 2   DOF1      float64
 3   GAD1      object
 4   PSU       int64
 5   YEAR      int64
 6   STRATIF   object
 7   BODYTYPE  float64
 8   DVEST     float64
 9   DVBASIS   float64
 10  DVTOTAL   float64
 11  MAKE      float64
 12  MODELYR   float64
 13  AGE       float64
 14  BAGAVAIL  float64
 15  BAGDEPLY  float64
 16  BAGFAIL   float64
 17  CASENO    float64
 18  CHTYPE    float64
 19  DEATH     float64
 20  HEIGHT    float64
 21  HOSPSTAY  float64
 22  INJSEV    float64
 23  MANAVAIL  float64
 24  MANFAIL   float64
 25  MANUSE    float64
 26  OCCNO     float64
 27  ROLE      float64
 28  SEATPOS   float64
 29  SEX       float64
 30  TREATMNT  float64
 31  WEIGHT    float64
dtypes: float64(26), int64(3), object(3)
memory usage: 663.2+ MB

In [62]:
uber.describe()

,Column1,DOF1,PSU,YEAR,BODYTYPE,DVEST,DVBASIS,DVTOTAL,MAKE,MODELYR,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
count,2716427.00,2417075.00,2716427.00,2716427.00,2713908.00,2222022.00,2626443.00,1625151.00,2705768.00,2703350.00,...,2666603.00,2305406.00,2035758.00,2220682.00,2716262.00,2716227.00,2526365.00,2684392.00,2384477.00,2061517.00
mean,1358214.00,12.49,46.40,2007.01,12.24,1.65,4.71,24.45,26.86,1999.71,...,1.41,3.87,0.79,3.58,1.59,1.36,13.52,1.49,2.36,72.57
std,784165.07,17.22,27.33,2.83,12.59,2.95,12.15,13.54,17.53,6.09,...,1.33,0.64,0.43,2.59,1.06,0.48,6.53,0.57,2.09,23.95
min,1.00,0.00,2.00,2004.00,1.00,0.00,0.00,0.00,1.00,1923.00,...,0.00,0.00,0.00,0.00,1.00,1.00,11.00,1.00,0.00,3.00
25%,679107.50,6.00,12.00,2005.00,4.00,0.00,1.00,15.00,12.00,1996.00,...,0.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,0.00,59.00
50%,1358214.00,11.00,48.00,2006.00,4.00,0.00,1.00,21.00,20.00,2000.00,...,1.00,4.00,1.00,4.00,1.00,1.00,11.00,1.00,3.00,73.00
75%,2037320.50,12.00,74.00,2009.00,15.00,0.00,4.00,30.00,37.00,2004.00,...,3.00,4.00,1.00,4.00,2.00,2.00,13.00,2.00,4.00,86.00
max,2716427.00,92.00,82.00,2015.00,97.00,8.00,98.00,166.00,98.00,2016.00,...,6.00,8.00,8.00,18.00,19.00,2.00,98.00,6.00,8.00,150.00

In [63]:
uber.sample()

,Column1,CASEID,DOF1,GAD1,PSU,YEAR,STRATIF,BODYTYPE,DVEST,DVBASIS,...,INJSEV,MANAVAIL,MANFAIL,MANUSE,OCCNO,ROLE,SEATPOS,SEX,TREATMNT,WEIGHT
1551405,1551406,96F,2.00,F,13,2007,F,4.00,0.00,1.00,...,NaN,4.00,1.00,14.00,2.00,2.00,21.00,1.00,0.00,6.00

In [64]:
occupants = uber[["CASEID", 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO','ROLE', 'SEATPOS', 'SEX', 'WEIGHT', 'HOSPSTAY','TREATMNT']]

In [65]:
occupants.drop_duplicates(subset=['CASEID', 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',
       'MANUSE', 'OCCNO', 'ROLE', 'SEATPOS', 'SEX', 'WEIGHT','HOSPSTAY','TREATMNT' ],inplace=True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\3565460554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants.drop_duplicates(subset=['CASEID', 'PSU','YEAR','AGE', 'BAGAVAIL','CHTYPE', 'HEIGHT', 'INJSEV',

In [66]:
occupants.head()

,CASEID,PSU,YEAR,AGE,BAGAVAIL,CHTYPE,HEIGHT,INJSEV,MANUSE,OCCNO,ROLE,SEATPOS,SEX,WEIGHT,HOSPSTAY,TREATMNT
0,1H,2,2004,20.00,1.00,0.00,178.00,0.00,4.00,1.00,1.00,11.00,1.00,73.00,0.00,0.00
1,2K,2,2004,69.00,1.00,0.00,178.00,1.00,4.00,1.00,1.00,11.00,1.00,86.00,0.00,4.00
2,2K,2,2004,69.00,1.00,0.00,168.00,1.00,4.00,2.00,2.00,13.00,2.00,68.00,7.00,3.00
3,2K,2,2004,18.00,1.00,0.00,NaN,3.00,4.00,1.00,1.00,11.00,1.00,NaN,2.00,3.00
4,2K,2,2004,34.00,1.00,0.00,NaN,3.00,4.00,2.00,2.00,13.00,1.00,NaN,2.00,3.00

In [67]:
occupants.duplicated().sum()

0

In [68]:
occupants.shape

(110758, 16)

In [69]:
vehicles= uber[['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR']]

In [70]:
vehicles.shape

(2716427, 7)

In [71]:
vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\1110924876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vehicles.drop_duplicates(subset=['CASEID', 'PSU','YEAR','BODYTYPE', 'MAKE' , 'DVTOTAL','MODELYR'],inplace=True, ignore_index=True)

In [72]:
vehicles.shape

(94598, 7)

In [73]:
accidents = uber[['CASEID', 'PSU','YEAR', 'STRATIF']]

In [74]:
accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\2693818806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents.drop_duplicates(subset=['CASEID', 'PSU','YEAR', 'STRATIF'], inplace =True, ignore_index=True)

In [21]:
#occupants.to_csv("./occupants.csv", index = False)
#accidents.to_csv("./accidents.csv", index = False)
#vehicles.to_csv("./vehicles.csv", index = False)

In [75]:
import math
x = float('nan')
math.isnan(x)

True

In [76]:
#nowa kolumna kategoria dla manuse: 1 -niezapięte, 2 zapięte
MANUSE_new=[]

for i in occupants['MANUSE']:
    if i>=0 and i<=1:
        MANUSE_new.append(1)
    elif i>=2 and i<=18:
        MANUSE_new.append(2)
    elif math.isnan(i):
        MANUSE_new.append(None)

In [77]:
occupants['MANUSE'] = MANUSE_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\3623112559.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['MANUSE'] = MANUSE_new

In [78]:
occupants['MANUSE'].value_counts()

2.00    59837
1.00    16332
Name: MANUSE, dtype: int64

In [79]:
occupants['INJSEV'].value_counts()

0.00    40281
3.00    22707
1.00    22706
2.00    16488
4.00     4285
5.00     1969
6.00        8
Name: INJSEV, dtype: int64

In [80]:
#INJSEV – OK?  Zmienić dla U Severity Unk bo jest 5 , a wszystkie inne liczby rosną wraz ze wzrostem ciężkości obrażeń

INJSEV_new=[]

for i in occupants['INJSEV']:
    if i==0:
        INJSEV_new.append(0)
    if i==1:
        INJSEV_new.append(1)   
    if i==2:
        INJSEV_new.append(2)
    if i==3:
        INJSEV_new.append(3)
    if i==4:
        INJSEV_new.append(4)
    if i==5:
        INJSEV_new.append(None)
    if i==6:
        INJSEV_new.append(6)
    elif math.isnan(i):
        INJSEV_new.append(None)

In [81]:
occupants['INJSEV'] = INJSEV_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\638915056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['INJSEV'] = INJSEV_new

In [82]:
occupants['INJSEV'].value_counts()

0.00    40281
3.00    22707
1.00    22706
2.00    16488
4.00     4285
6.00        8
Name: INJSEV, dtype: int64

In [83]:
AGE_new=[]

for i in occupants['AGE']:
    if i>=0 and i<=3:
        AGE_new.append(1)
    elif i>=4 and i<=10:
        AGE_new.append(2)
    elif i>=11 and i<=20:
        AGE_new.append(3)
    elif i>=21 and i<=30:
        AGE_new.append(4)
    elif i>=31 and i<=50:
        AGE_new.append(5)
    elif i>=51 and i<=70:
        AGE_new.append(6)
    elif i>=71:
        AGE_new.append(7)
    elif math.isnan(i):
        AGE_new.append(None)

In [84]:
occupants['AGE']=AGE_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\1304849800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['AGE']=AGE_new

In [85]:
occupants['AGE'].value_counts()

5.00    29778
4.00    27852
3.00    21348
6.00    16280
7.00     5423
2.00     4313
1.00     2833
Name: AGE, dtype: int64

In [86]:
#HEIGHT – 0-80 niemowlęta, 81-130, 130- 165, 165-180, 181-199, 200-219, 220

HEIGHT_new=[]
for i in occupants['HEIGHT']:
    if i>=0 and i<=80:
        HEIGHT_new.append(1)
    elif i>=81 and i<=130:
        HEIGHT_new.append(2)
    elif i>=131 and i<=165:
        HEIGHT_new.append(3)
    elif i>=166 and i<=180:
        HEIGHT_new.append(4)
    elif i>=181 and i<=199:
        HEIGHT_new.append(5)
    elif i>=200 and i<=219:
        HEIGHT_new.append(6)
    elif i>=220:
        HEIGHT_new.append(7)
    elif math.isnan(i):
        HEIGHT_new.append(None)

In [87]:
occupants['HEIGHT'] = HEIGHT_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\748303531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['HEIGHT'] = HEIGHT_new

In [88]:
occupants['HEIGHT'].value_counts()

4.00    32356
3.00    23739
5.00    11062
2.00     2577
1.00     1104
6.00      106
Name: HEIGHT, dtype: int64

In [89]:
occupants['HOSPSTAY'].value_counts()

0.00     69772
1.00      3670
2.00      1868
3.00      1466
4.00      1149
         ...
46.00        4
43.00        3
57.00        2
53.00        2
59.00        2
Name: HOSPSTAY, Length: 61, dtype: int64

In [90]:
#HOPSTAY 0-7, 8-14, 15-28, 29-60, 61

HOSPSTAY_new=[]
for i in occupants['HOSPSTAY']:
    if i>=0 and i<=7:
        HOSPSTAY_new.append(1)
    elif i>=8 and i<=14:
        HOSPSTAY_new.append(2)
    elif i>=15 and i<=28:
        HOSPSTAY_new.append(3)
    elif i>=29 and i<=60:
        HOSPSTAY_new.append(4)
    elif i>=61:
        HOSPSTAY_new.append(5)
    elif math.isnan(i):
        HOSPSTAY_new.append(None)

In [91]:
occupants['HOSPSTAY'] = HOSPSTAY_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\2366499334.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['HOSPSTAY'] = HOSPSTAY_new

In [92]:
occupants['HOSPSTAY'].value_counts()

1.00    80022
2.00     1785
3.00      955
4.00      367
5.00       43
Name: HOSPSTAY, dtype: int64

In [93]:
occupants['SEX'].value_counts()

1.00    59509
2.00    48754
4.00      286
5.00      276
3.00      213
6.00       51
Name: SEX, dtype: int64

In [94]:
#SEX ok, tylko wszystkie ciężarne wrzucić do jednej liczby – potem pokazać jakie miejsca są dla nich najbezpieczniejsze
# 0- mężczyźni, 1 - kobiety, 2 - kobiety w ciąży

SEX_new=[]

for i in occupants['SEX']:
    if i==1:
        SEX_new.append(0)
    elif i==2:
        SEX_new.append(1)
    elif i==3:
        SEX_new.append(2)
    elif i==4:
        SEX_new.append(2)
    elif i==5:
        SEX_new.append(2)
    elif i==6:
        SEX_new.append(2)
    elif math.isnan(i):
        SEX_new.append(None)

In [95]:
occupants['SEX'] = SEX_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\2239415670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['SEX'] = SEX_new

In [96]:
occupants['SEX'].value_counts()

0.00    59509
1.00    48754
2.00      826
Name: SEX, dtype: int64

In [97]:
occupants['WEIGHT'].value_counts()

68.00     4258
73.00     4074
82.00     3924
64.00     3657
91.00     3359
          ...
148.00       8
133.00       7
144.00       6
149.00       5
146.00       2
Name: WEIGHT, Length: 148, dtype: int64

In [98]:
WEIGHT_new=[]

for i in occupants['WEIGHT']:
    if i>=0 and i<=15:
        WEIGHT_new.append(1)
    elif i>=16 and i<=45:
        WEIGHT_new.append(2)
    elif i>=46 and i<=60:
        WEIGHT_new.append(3)
    elif i>=61 and i<=80:
        WEIGHT_new.append(4)
    elif i>=81 and i<=100:
        WEIGHT_new.append(5)
    elif i>=101 and i<=149:
        WEIGHT_new.append(6)
    elif i>=150:
        WEIGHT_new.append(7)
    elif math.isnan(i):
        WEIGHT_new.append(None)

In [99]:
occupants['WEIGHT'] = WEIGHT_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\707745857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['WEIGHT'] = WEIGHT_new

In [100]:
occupants['WEIGHT'].value_counts()

4.00    27988
5.00    18833
3.00    12264
6.00     6991
2.00     4586
1.00     1514
7.00      359
Name: WEIGHT, dtype: int64

In [101]:
occupants['BAGAVAIL'].value_counts()

1.00    59124
0.00    20252
3.00      188
2.00      142
Name: BAGAVAIL, dtype: int64

In [102]:
#BAGAVAIL – zmiana na 0 -nie było poduszki, 1- była , reszta do przepisania na 0

BAGAVAIL_new=[]
for i in occupants['BAGAVAIL']:
    if i==0:
        BAGAVAIL_new.append(0)
    elif i==1:
        BAGAVAIL_new.append(1)
    elif i>=2 and i<=3:
        BAGAVAIL_new.append(0)
    elif math.isnan(i):
        BAGAVAIL_new.append(None)

In [103]:
occupants['BAGAVAIL'] = BAGAVAIL_new

C:\Users\ela\AppData\Local\Temp\ipykernel_5820\2704286954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  occupants['BAGAVAIL'] = BAGAVAIL_new

In [104]:
occupants['BAGAVAIL'].value_counts()

1.00    59124
0.00    20582
Name: BAGAVAIL, dtype: int64

In [105]:
occupants.to_csv("./occupants_cat.csv", index = False)